.coccontactmain{
background-color: #232323;
overflow: auto;
}
.coccontactheadingmainblock{
margin-top: 20px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
            }
            .coccontactusheading{
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #76BFDA;
                border-radius: 16px;
                text-align: center;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
            #coccontactheadingtext{
                color : #FFFFFF;
                font-weight: bold;
                font-style: normal;
                font-family: 'Montserrat', sans-serif;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
            .coccontactblock{
                margin-top: 25px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: normal;
                position: relative;
            }
            .coccontactinnerblock{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
            }
            .coccontactdescription{
                display: flex;
                flex-direction: column;
                justify-content : center;
                align-items: center;
                background-color: #76BFDA;
                border-radius: 12px;
                padding: 5px;
                text-align: center;
            }
            .cocseparationline{
                width: 100%;
                height: 12px;
                background-color: #76BFDA;
            }

@media only screen and (min-width : 768px) {
    .coccontactusheading{
        width: 440px;
        height: 85px;
    }
    #coccontactheadingtext{
        font-size: 50px;
        line-height: 50px;
    }
    .coccontactimg{
        width: 450px;
        height: 450px;
    }
    .coccontactblock{
        font-size: 30px;
    }
    .coccontactdescription{
        height: 150px;
    }
    .cocmar{
        margin-right: 25px;
    }
    .cocseparationline{
        margin-top: 75px;
    }
}
@media only screen and (max-width : 768px) {
    .coccontactusheading{
        width: 300px;
        height: 60px;
    }
    #coccontactheadingtext{
        font-size: 30px;
        line-height: 30px;
    }
    .coccontactimg{
        width: 300px;
        height: 300px;
    }
    .coccontactblock{
        font-size: 30px;
    }
    .coccontactdescription{
        height: 100px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .cocseparationline{
        margin-top: 40px;
    }
}
@media only screen and (max-width : 360px) {
    .coccontactusheading{
        width: 200px;
        height: 40px;
    }
    #coccontactheadingtext{
        font-size: 15px;
        line-height: 15px;
    }
    .coccontactimg{
        width: 200px;
        height: 200px;
    }
    .coccontactblock{
        font-size: 20px;
    }
    .coccontactdescription{
        height: 75px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .cocseparationline{
        margin-top: 40px;
    }
}
