.cocquerybody,
body{
    background-color: #232323;
    overflow-x: hidden;
}
/* Please remove body from the above set of properties while merging the files. I had set it only to have uniformity while making the page.*/
.cocqueryhead{
    font-family: 'Montserrat', sans-serif !important;
    color: #ffffff !important;
    font-style: normal;
    font-weight: bold;
    line-height: 50px !important;
    margin-top: 40px;
    margin-bottom: 40px;
}
.cocqueryformcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cocqueryform{
    font-family: 'Montserrat', sans-serif !important;
    font-style: normal !important;
}
.cocqueryinput:placeholder-shown{
    /*box-shadow: none !important;*/
    font-style: normal;
    font-weight: normal;
}
.cocquerybutton{
    font-weight: bold !important;
    border-radius: 6px !important;
    background-color: #76BFDA !important;
    border-color: #76BFDA !important;
    color: #000000 !important;
}
.cocquerybutton:hover{
    font-family: 'Montserrat', sans-serif !important;
    font-weight: bold !important;
    font-style: normal !important;
    border-radius: 6px !important;
    background-color: skyblue !important;
    border-color: skyblue !important;
    color: #000000 !important;
}
.cocquerybuttongap{
    margin-top: 1px;
}
.cocquerybuttonmiddle{
    display: flex !important;
    justify-content: center !important;
}
@media only screen and (min-width: 768px) {
    .cocqueryhead{
        font-size: 50px; 
    }
    .cocqueryform{
        width: 50%;
    }
}
@media only screen and (min-width: 600px) {
    .cocqueryhead{
        font-size: 30px; 
    }
    .cocqueryform{
        width: 50%;
    }
}
@media only screen and (max-width: 600px) {
    .cocqueryhead{
        font-size: 30px; 
    }
    .cocqueryform{
        margin: 5px;
        width: 80%;
    }
}
@media only screen and (max-width: 350px) {
    .cocqueryhead{
        font-size: 20px;
    }
    .cocqueryform{
        margin: 5px;
        width: 80%;
    }
}